page-tutorial {

  .green{
      color:$greenTittle;
      background-color:$white;
    }

.red{
     background-color:$redButton;
     color:$white;
 }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }



    ion-slides {
        display: block;
        width: 100%;
        height: 55vh;
    }

  .splash-logo {
   margin: 20px auto;
    background: url("../assets/img/logo-popoints.svg") repeat transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-size: 100%;
    width: 280px;
    height: 72px;
    background-position: 0% 10%;
  }

  .slide-zoom {
    height: 90%;
    background:$white;
    width:90%;
    border-radius:20px;
    padding:20px;
    max-width: 300px;
    position: absolute;
    top: 20px;

  }

  .slide-title {
    margin-top: 0rem;
    color:$greenTittle;
    font-size:2rem;
  }

  .slide-image {
    max-height: 25%;
    max-width: 45%;
    margin: 10px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 0px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  .scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;

    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#139980+0,4fd194+100 */
    background: #139980; /* Old browsers */
    background: -moz-linear-gradient(45deg, #139980 0%, #4fd194 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #139980 0%,#4fd194 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #139980 0%,#4fd194 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#139980', endColorstr='#4fd194',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .swiper-pagination-bullet-active {
      background: #fa676f;
      opacity: 1;
    }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    left: 0;
    bottom: 15px;
    width: 100%;
    }

    .bar-buttons-md[end] {
      text-align: right;
      text-align: center;
      -webkit-box-ordinal-group: 6;
      -webkit-order: 5;
      -ms-flex-order: 5;
      order: 5;
    }

}
